<app-menu></app-menu>
<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>

                    <div class="row">
                        <div class="col-md-2">
                            <label>First Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" formControlName="firstName" class="form-control">
                               
                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhiteSpaces">
                                        First Name is required
                                    </div>
                                    <div *ngIf="firstName.errors.minlength">
                                        First Name must be at least 2 characters long.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Last Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" formControlName="lastName" class="form-control">

                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="lastName.errors.required || firstName.errors.notOnlyWhiteSpaces">
                                        Last Name is required
                                    </div>
                                    <div *ngIf="lastName.errors.minlength">
                                        Last Name must be at least 2 characters long.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Email</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" formControlName="email" class="form-control">
                                
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="email.errors.required">
                                        Email is required
                                    </div>
                                    <div *ngIf="email.errors.pattern">
                                       Email must be a valid email address format.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <h3>Shipping address</h3>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Address</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <textarea  rows="4" cols="50" formControlName="address" class="form-control"></textarea>
                                
                                <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="address.errors.required">
                                        Address is required
                                    </div>
                                    <div *ngIf="address.errors.pattern">
                                       Address must be at least 10 characters long.
                                    </div>
                                </div>

                            </div>
                        </div>
                </div>

            </div>
                    <!-- shipping address form group -->
                <!-- <div formGroupName="Address" class="form-area">
                    -->
                    
                            
                       
                
                    <div class="form-area">
                        <h3>Review Your Order</h3>
                    <!-- Order details Review -->
                    <div class="cart_items">
                        <ul class="cart_list">
                            <li class="cart_item clearfix" *ngFor="let tempCartItem of cartItems">
                                <div class="cart_item_image"><img src="{{ tempCartItem.retrievedImage}}" alt=""></div>
                                <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                    <div class="cart_item_name cart_info_col">
                                        <div class="cart_item_title">Name</div>
                                        <div class="cart_item_text">{{ tempCartItem.name }}</div>
                                    </div>
                                    
                                    <div class="cart_item_quantity cart_info_col">
                                        <div class="cart_item_title">Quantity</div>
                                       
                                        <div class="cart_item_text"> 
                                             
                                            {{ tempCartItem.quantity }}   
                                           
                                        </div>
                                    </div>
                                    <div class="cart_item_price cart_info_col">
                                        <div class="cart_item_title">Price</div>
                                        <div class="cart_item_text"> {{ tempCartItem.price | currency: 'Rs ' }} </div>
                                    </div>
                                    <div class="cart_item_total cart_info_col">
                                        <div class="cart_item_title">Total</div>
                                        <div class="cart_item_text"> {{ tempCartItem.quantity * tempCartItem.price | currency: 'Rs ' }} </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <!-- <p>Total Quantity: FREE</p> -->
                    <p>Total Price: {{ totalPrice | currency: 'Rs ' }}</p>
    
                </div>
                <!-- submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block">Purchase</button>
                </div>
            </form>
        </div>
    </div>
</div>