<h1>Grocery Details</h1>

    <table>
        <tr>
            <td>Grocery Id</td>
            <td>{{grocery.id}}</td>
        </tr>
        <tr>
            <td>Grocery Name</td>
            <td>{{grocery.name}}</td>
        </tr>
        <tr>
            <td>Grocery Brand</td>
            <td>{{grocery.brand}}</td>
        </tr>
        <tr>
            <td>Grocery Price</td>
            <td>{{grocery.price}}</td>
        </tr>
    </table>
    <br>
    <img src="{{grocery.retrievedImage}}" height="200" width="200">
    <br><br>
    <a class="btn btn-small btn-warning" (click)="editGrocery()">edit</a>   
    <a class="btn btn-small btn-danger" (click)="deleteGrocery()">delete</a>

